body {
  background-color: white;
  color: #444444;
  padding: 0;
  margin: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
}

.left-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #EF8C81;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left-underline:hover:before, 
.left-underline:focus:before, 
.left-underline:active:before {
  right: 0;
}
div.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
  z-index: 9999999;
  position:fixed;
}
div.navbar > ul.navbar-container {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
}
div.navbar > ul > li.nav-item {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
div.navbar > ul > li.active {
  background-color: rgba(0, 0, 0, 0.18);
}
div.navbar > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
a.nav-button {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(228, 241, 254, 1);
  transition: all 0.5s ease;
}
a.nav-button:hover {
  text-decoration: none;
}
li.active > a.nav-button {
  cursor: default;
}
.brand-logo {
  float: left;
  cursor: default;
}
.parallax {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.parallax.p1 {
  background: url("../images/cleandesk.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 100vh;

}
.parallax.p2 {
  background: url("../images/desknotes.jpg") no-repeat fixed 50% 0;
  background-size: cover;
  color: #fff;
  height: 60vh;
}
.parallax.p3 {
  background: url("../images/contactdesk.jpg") no-repeat fixed 70% 0;
  background-size: cover;
  color: #fff;
  height: 70vh;
}
.parallax-text {
  width: 24em;
  position: fixed;
  top: 20%;
  left: 50%;
  border: .5em solid #fff;
  margin-left: -10%;
  padding: 2em 0;
  text-align: center;
  z-index: 999;
}
.parallax > div.blur-image {
  position: relative;
  width: 100%;
  height: 100%;
} 
hgroup{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  z-index: 2;
  letter-spacing: 4px;
}
.row {
  width: 80%;
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 100px;
  min-height: 150px; */
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row > .col-3 {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
footer {
  width: 100%;
  padding-top: 20px;
  display: block;
  background-color: #E6E6E9;
}
.footer-section {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: black;
  text-align: center;
  background-color: #E6E6E9;
}
.container {
  width: 85%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}
footer p {
  border-left: 4px solid #ffcdd2;
  padding-left: 15px;
  text-indent: 20px;
  color: black;
}
#name-logo {
  font-size: 20px;
  color: black;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  letter-spacing: 4px;
}
.about-intro {
  font-size: 20px;
  font-family: Helvetica, arial, sans-serif;
}
#section-1 {
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 100;
  background-color: white;
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
  height: 100vh;

  
}
#section-2 {
  background-color: white;
  padding: 30px;
  /* margin-top: 40px; */
  font-family: Helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
}
#section-3 {
  font-size: 20px;
}
.header {
  font-family: 'Copse', serif;
  font-size: 35px;
  text-align: center;
  letter-spacing: 15px;
}
.header-about {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  text-align: center;
  letter-spacing: 15px;
}
#screenshot {
  font-weight: bold;
  text-align: center;
}

.card-header { 
  text-align: center;
}
.section-about {
  padding-top: 50px;
}
/* ========== */
