/* Core Styles */

body {
    margin: 0;
    font-family: "Calibre", helvetica;
    background: #9A8C98;
    color: #333;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  #brand-name, #navList {
    color: black;
  }
  h1,
  h2,
  h3,
  header {
    margin: 0;
    padding: 2em 0px;
    font-family: "Begum-Regular", serif;
    letter-spacing: 6px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 64px;
  }
  
  p {
    margin: 0;
    padding: 1em 0;
    font-family: "adobe-garamond-pro", serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px
  }
  
  .btn {
    display: inline-block;
    background: #fff;
    color: #333;
    text-decoration: none;
    padding: 1em 2em;
    border: 2px solid #666;
    margin: 0.5em 0;
    padding: 1px 20px;
  }
  
  .btn:hover {
    background: #eaeaea;
    color: #333;
  }
  
  /* Header Showcase */
  header .header-name {
    display: inline-block;
    text-emphasis: none;
    background: #fff;
   
  }
  #showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
  }
  
  #showcase .bg-image {
    position: absolute;
    background: #333 url("../images/beverage-books-caffeine-904616\ copy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.9;
  }
  
  #showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
  }
  
  #showcase .content-wrap,
  #section-a .content-wrap {
    padding: 0 1.5em;
  }
  
  /* Section A */
  
  #section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
  }
  
  /* Section B */
  
  #section-b {
    padding: 2em 1em 1em;
  }
  
  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
  }
  
  .card-content {
    padding: 1.5em;
  }
  
  /* Section C */
  
  #section-c {
    background: #fff;
    color: #333;
    padding: 2em;
  }
  
  /* Section D / Boxes */
  
  #section-d .box {
    padding: 2em;
    color: #fff;
  }
  
  #section-d .box:first-child {
    background: #9A8C98;
  }
  
  /* Footer */
  
  /* #main-footer {
    padding: 1em;
    background: #fff;
    color: #333;
    text-align: center;
  }
   */
  
 

/* Contact Form */
.contact-form {
  width: 20%;
  margin-left: 2%;
  float: left;
}
.contact-form .title {
  font-size: 1.5em;
  font-family: "Begum-Regular", serif;
  font-weight: 300;
  color: #fff;
  margin: 14% 7%;
}
.contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.contact-form input,
.contact-form textarea {
  width: 350px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #242424;
}
.contact-form .btn-send {
  background: rgb(237, 197, 136);
  width: 150px;
  height: 40px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}
  
  /* Media Queries */
  
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }
  