body {
  background-color: #212121;
  
}
.brand-logo {
  color: #212121;
  font-family: 'Homemade Apple', cursive;
  
}

.nav-background {
  color: white ;
}



#landing {
  height: 100vh;
  background-image: url('../images/background-background-image-clouds-1054289.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  
  
}


#mainText{
  margin-top: 40vh;
  font-family: 'Homemade Apple', cursive;
  font-weight: 500;
  letter-spacing: 10px;
  padding-left: 10px;

  
}

.icon-header  {
  margin-top: 15vh;

 
}
.nav-icon {
  background-color: none;
}

#profile-pic {
  border-radius: 50%;
}



.footer-section {
  color: black;
}


/* ---------------------------------- */

/* Centered Menu Link */
.topnav {
  position: relative;
  /* overflow: hidden; */
  background-color: none;
  /* position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s; */
  font-family: 'Homemade Apple', cursive;

}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 31px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#f5f5f5;
  color: black;
  
}


.topnav a.active {
  background-color: none;
  color: #424242;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* --------------------------------- */

